# Mac/iOS
.DS_Store
xcuserdata

# IDE
*.iml
.idea
/build
captures
.cxx
.kotlin
.externalNativeBuild

# Gradle
.gradle
local.properties

## Release Information
/release.keystore
/app-android/debug/app-android-debug.aab
/app-android/release/app-android-release.aab
